#fba-container {
  width: fit-content;
  background: #f7f8fa;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  display: flex;
}
#fba-container div.column {
  margin: 0px;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
  flex-wrap: wrap;
  font-size: 14px;
  flex-flow: row wrap;
  align-items: flex-start;
}

/* column 2 */

#fba-container div.column2 {
  margin: 0;
  margin-right: 6px;
  display: flex;
  border-right: 1px solid #ccc;
  border-top: none;
  padding: 8px;
  font-size: 14px;
  flex-flow: column;
  align-items: flex-start;
}

#fba-container div.column2:last-child {
  border-right: none;
  margin-right: 0;
}

#fba-container div.column2 > span {
  width: 100%;
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid #999;
  margin-bottom: 12px;
}

#fba-container div.column2 p {
  padding-bottom: 6px;
  margin: 0;
  /* border-left: 1px solid #ccc; */
  display: flex;
  flex-flow: column;
}

#fba-container div.column2 p > a {
  color: #444;
  font-weight: 400;
}

#fba-container div.column2 p:last-child {
  border-right: 0;
}

#fba-container div.column2 p > b {
  padding-right: 4px;
  color: #555;
  width: fit-content;
  min-width: fit-content;
  font-size: 13px;
  font-weight: 500;
}

/*  ---- */

#fba-container div.column:last-child {
  border-bottom: none;
}

#fba-container div.column p {
  padding: 0 8px;
  margin: 0;
  border-right: 1px solid #ccc;
}

#fba-container div.column p:last-child {
  border-right: 0;
}
#fba-container div.column p > strong {
  padding-right: 4px;
  color: #444444;
  width: fit-content;
  min-width: fit-content;
}

#fba-container div.column p > span {
  color: #444444;
  width: fit-content;
  min-width: fit-content;
}
